@import "tailwindcss";

@theme {
  --color-primary: #ecb463;
  --color-secondary: #031e18;
  --color-background: #fef5f0;
}

::-webkit-scrollbar {
  display: none;
}

.box {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 0 4px 0px white;
  cursor: pointer;
}

.font-suisse {
  font-family: var(--font-suisse) !important;
}
.font-suisse-mono {
  font-family: var(--font-suisse-mono) !important;
}

.font-tempting {
  font-family: var(--font-tempting) !important;
}
